# AWS Configuration
AWS_REGION=us-west-2
ENVIRONMENT=dev

# GitHub OIDC
GITHUB_ORG=
GITHUB_REPO=

# Database Credentials
DB_USER=
DB_PASS=

JWT_SECRET=

# ACM Certificate ARN (Replace with your actual ARN)
ALB_CERTIFICATE_ARN=
CF_CERTIFICATE_ARN=

# Allowed CORS Origins (Comma-separated list)
ALLOWED_ORIGINS=

# Frontend Custom Domain
CUSTOM_DOMAIN_NAME=