# AWS Configuration
AWS_REGION=us-west-2
ENVIRONMENT=dev

# GitHub OIDC
GITHUB_ORG=
GITHUB_REPO=

# Database Credentials
DB_USER=
DB_PASS=

JWT_SECRET=
# ACM Certificate ARN (Replace with your actual ARN)
CERTIFICATE_ARN=